<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static\css\thankyou.css">
  <title>Thank You Celebration</title>
</head>
<body>
  <div class="celebration-container">
    <div class="balloon-container">
      <div class="balloon"></div>
      <div class="balloon"></div>
      <div class="balloon"></div>
    </div>
    <h1>Thank You!</h1>
    <p>Your Event Submited</p>
    <a href="{% url 'home' %}" class="home-button">Home</a>
  </div>
</body>
</html>
